name: Build and Deploy Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crystal-lang/install-crystal@v1
      - run: |
          sudo apt-get install -y lld
          curl -fsSL "https://github.com/kojix2/wasm-libs/releases/download/v0.0.4/wasm32-wasi-libs.tar.gz" -o /tmp/wasm32-wasi-libs.tar.gz
          tar -xzf /tmp/wasm32-wasi-libs.tar.gz
          curl -fsSL "https://github.com/kojix2/wasm-libs/releases/download/v0.0.4/wasm32-wasi-sysroot.tar.gz" -o /tmp/wasm32-wasi-sysroot.tar.gz
          tar -xzf /tmp/wasm32-wasi-sysroot.tar.gz
          WASI_SYSROOT="$PWD/wasm32-wasi-sysroot" \
          CRYSTAL_LIBRARY_PATH="$PWD/wasm32-wasi-libs:$PWD/wasm32-wasi-sysroot/lib/wasm32-wasi" \
          crystal build prime.cr -o web/prime.wasm --target wasm32-wasi

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
